MainWindow{
    border-image: url("../img/Virus-Game-Fiber-BG.jpg");
}
* {
    color:#66ff00;
    background-color:#0000;
    font-family:"Courier";
}
Title{
    /* Sizing */
    font-size: 150px;
}
ComboBox{
    /* Coloring */
    background-color: black;
    border: 2px groove #66ff00;
    /* Sizing */
    width: 300px;
    height: 125px;
    /* Fonts */
    font-size: 100px;
}
TimerLabel{
    color:red;
    font-size: 350px;
}