MainWindow{
    border-image: url("../img/Virus-Game-Fiber-BG.jpg");
}
* {
    color:greenyellow;
    font-family:"Courier";
}
Title{
    /* Sizing */
    font-size: 150px;
}
ComboBox{
    /* Coloring */
    background-color: black;
    border: 2px groove white;
    /* Sizing */
    width: 350px;
    height: 150px;
    /* Fonts */
    font-size: 120px;
}
TimerLabel{
    color:red;
    font-size: 350px;
}